{% extends "traffic_light/base.html" %}
{% block title %}
Dashboard
{% endblock %}
{% block content %}




    <!-- <h2>Dashboard..</h2> -->
    <!-- <iframe title="Salik Dashboard" width="1024" height="612" src="https://app.powerbi.com/view?r=eyJrIjoiMmQ0ZDBlODYtYzY2MC00YTk3LTk5MzctNzY3Njk2YzA5OTEyIiwidCI6IjJkMzE5NGUzLTE2NTQtNDZiZC1iYWUyLWFkMzdiYTExYjBhZSIsImMiOjl9&embedImagePlaceholder=true" frameborder="0" allowFullScreen="true"></iframe>    -->
    <iframe title="Salik Dashboard" width="600" height="690" src="https://app.powerbi.com/view?r=eyJrIjoiOWU5M2JlM2MtNjI5MS00MTVlLWE3MjAtOTQ5NjU2ZGQwNTYzIiwidCI6IjJkMzE5NGUzLTE2NTQtNDZiZC1iYWUyLWFkMzdiYTExYjBhZSIsImMiOjl9" frameborder="0" allowFullScreen="true"></iframe>
    {% endblock %}



